{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'Parking/style.css' %}" />
    </head>
    <body>
        <div class="main-div">
            <div class="box">
                <a href="{% url 'register' %}"><button class="submit-button">Book</button></a>
                <br><br>
                <a href="{% url 'checkslot' %}"><button class="submit-button">View Slot</button></a>
                <br><br>
                <a href="{% url 'cancelslot' %}"><button class="submit-button">Cancel Slot</button></a>
            </div>
        </div>
    </body>
</html>